<div class="alert alert-success" role="alert">
  A simple success alert—check it out!
</div>

<h1> Bienvenue sur le site de Gossip !  </h1>

<p> Voici la liste de tous les goosips de THP : <p>


<% @gossip.each do |f| %>

<div class="card w-75 div-center">
  <div class="card-body" >
    <h5 class="card-title"> <%= f.user.first_name %> <%= f.user.last_name %>  </h5>
    <p class="card-text">  <%= f.title %> </p>
    <a class="btn btn-primary"> <%= link_to "Voir le gossip", "gossip/#{f.id}" %> </a>
  </div>
</div>

<%end%> 