<div class="card text-center mb-3 mx-auto mt-5" style="width: 400px;">
  <div class="card-body">
    <h5 class="card-title"> <%= @city.name%> </h5>
    <p class="card-text"> <%= @city.zip_code%> </p>

    <a class="btn btn-primary"> <%= link_to "Page de la ville", root_path %> </a>
  </div>
</div>